table.hlist ul li {
    list-style-type: none;
}

p + div.nbinput.container {
    margin-top: -12px;
}

div.nbinput.container + p,
div.nboutput.container + p {
    margin-top: 24px;
}

div.nbinput.container + section,
section + section {
    margin-top: 24px;
}

div.nboutput.container > div.output_area.rendered_html > pre {
    font-size: 0.6em;
}

footer div[role="contentinfo"] p {
    font-size: 0.9rem;
}